/* html,
body {
  width: 100px;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #E5F2F2;
}

button:hover {
  background-color: #CFF2F2;
}

button[type="reset"] {
  background-color: #FBFBC9;
}

button[type="reset"]:hover {
  background-color: #EAEA9D;
} */

.center {
  min-height: 100px;
  min-width: 200px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  background-color: rgb(184, 236, 233);
}
.text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.hidden {
  display: none;
}
