

body {
  font-family: "montserrat", sans-serif;
}
.text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.hidden {
  display: none;
}

#btn_block {
  text-align: center;
}

#dt_btn {
  font-weight: bold;
  border: none;
  margin: 20px;
  padding: 14px;
  width: 180px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
  font-size: small;
  background-image: linear-gradient(to left, #E98E7E, #DA7384, #F4B877);
}

#dt_btn:hover {
  background-position: right;
}

#zero_text {
  color: #E98E7E;
  font-weight: bold;
  padding-bottom: 20px;
}

#LibAccordion {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: small;
}
